{% extends 'base.html' %}
{% block heading %}
<!-- <h1>Hello World</h1> -->
<!-- <section class="intro">
    <img src="static/images/images.jpeg" alt="">
    <<p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio qui, atque deleniti necessitatibus odit ab obcaecati minus quas eos vero sint temporibus itaque nihil ullam repudiandae praesentium similique perferendis quidem unde excepturi rem nam?
    </p> -->
<!-- </section> --> 

<br><br><br><br>
<section class="books">
    <div class="card">
        <img src="static/images/the psychology of money.png" alt="Avatar">
        <div class="container">
          <h4><b>The Psychology of Money</b></h4>
          <p>Morgan Housel</p>
        </div>
    </div>
    <div class="card">
    <a href="#">
            <img src="static/images/do epic shit.png" alt="Avatar" style="width: 100;">
            <div class="container">
                <h4><b>Do Epic Shit</b></h4>
                <p>Ankur Warikoo</p>
            </div>
        </a>
    </div>
    <div class="card">
        <img src="static/images/subtle art.png" alt="Avatar" style="width: 50%;">
        <div class="container">
          <h4><b>The Subtle Art of Not Giving F**k</b></h4>
          <p>Mark Manson</p>
        </div>
      </div>
    <div class="card">
        <img src="static/images/pilgrimage.jpeg" alt="Avatar" >
        <div class="container">
            <h4><b>The Pilgrimage</b></h4>
            <p>Paulo Coelho</p>
        </div>
    </div>
    <div class="card">
        <img src="static/images/the almanack of naval ravikant.png" alt="Avatar">
        <div class="container">
            <h4><b>The Almanack of Naval Ravikant</b></h4>
            <p>Eric Jorgenson</p>
        </div>
    </div>
    <div class="card">
        <img src="static/images/personal mba.png" alt="Avatar">
        <div class="container">
            <h4><b>The Personal MBA</b></h4>
            <p>Josh Kaufman</p>
        </div>
    </div>
    <div class="card">
        <img src="static/images/the alchemist.jpeg" alt="Avatar">
        <div class="container">
            <h4><b>The Alchemist</b></h4>
            <p>Paulo Coelho</p>
        </div>
    </div>
    <div class="card">
        <img src="static/images/rich dad poor dad.png" alt="Avatar">
        <div class="container">
            <h4><b>Rich Dad Poor Dad</b></h4>
            <p>Robert T. Kyosaki</p>
        </div>
    </div>
</section>
</body>
{% endblock %}